<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--  Put your title here -->
    <title>Chimmy website</title>
    <style>
        h1 {
            text-align: center;
            color: blueviolet;
            font-size: 20px;
            margin: 0;

        }

        p{
            text-align: center;
            font-size: 16px;
            color: blueviolet;
        }
    </style>
</head>
<body>

<h1>Hi my name is Sinéad</h1>

<p> I enjoy watching esports</p>

<!--put in a meme here-->
<img src="https://i.chzbgr.com/full/9228791808/h4A690224/random-meme-of-japanese-child-robot-having-strange-late-night-thoughts-about-crabs" alt="meme">

</body>

<script src="YourFunctionalityHere.js">
     let name = prompt ("What is your name?");
         alert ("Hello " + name + "Welcome to my website");
</script>

</html>